@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

.nav__link {
  color: #4f4b52;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  display: flex;
  background-color: wheat;
  padding: 15px;
}

.nav__link:visited {
  color: #4f4b52;
}

.nav__icon {
  margin-right: 10px;
}
