@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap");

.lyric {
  padding: 0 25px 0 25px;
  font-family: "Merriweather", serif;
  font-weight: bold;
}

p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #4f4b52;
}
