@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

.lyrics-list {
  list-style: none;
  padding: 0 0 0 25px;
}

.lyric-list-item {
  background-color: #505050;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 3px 0 0 3px;
}

.lyric-list-item__a {
  color: #ffffff;
  padding: 30px;
  display: block;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.info-text__wrap {
  padding: 0 25px;
  text-align: center;
}

.info-text__heading {
  font-weight: bold;
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  color: #858d95;
  margin-bottom: 30px;
}

.info-text__body {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: #858d95;
}
