@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

.is-lyric-meta-information {
  display: flex;
  align-items: center;
}

.is-lyric-page-artist-name-label {
  color: #dedede;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 5px;
}

.is-lyric-page-artist-name {
  color: #ffffff;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

.artist-meta__name {
  color: #4f4b52;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
}
