@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

.is-header {
  background-color: #c5101e;
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 0 0 3px 3px;

  &.is-artist-header {
    background-color: #1b3264;
  }

  &.is-lyric-header {
    background-color: #505050;
  }

  .is-top-header {
    margin-bottom: 30px;
    display: flex;

    .is-logo-link {
      display: inline-block;

      .is-logo {
        width: 40px;
        cursor: pointer;
      }
    }
  }

  .is-page-title {
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 2rem;
  }
}
