@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

header {
  padding: 30px 15px 15px 15px;
  margin-bottom: 20px;
}

.header__title {
  font-family: "Roboto", sans-serif;
  color: #0b0c0f;
  font-size: 2rem;
}
