@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

.is-header {
  background-color: #c5101e;
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 0 0 3px 3px;

  &.has-artist {
    background-color: #1b3264;
  }

  &.has-lyric {
    background-color: #505050;
  }

  .is-logo {
    width: 40px;
    cursor: pointer;
    margin-bottom: 30px;
  }

  .is-page-title {
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 2rem;
  }
}
